.nom_competence,
.prenom_nom {
    font-weight: 700!important
}

.hide,
.sapMNLI-CollapseButton,
.sapUshellShellHeadContainer>#backBtn {
    display: none
}

.red {
    color: red!important
}

.certification_button {
    background-color: #0070b1;
    border-radius: 30%;
    padding: 10px;
    text-decoration: none!important;
    color: #fff!important
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: none!important
}

.prenom_nom {
    font-size: 2.5em;
    font-family: Helvetica;
    text-align: center
}

.competence_titre,
.poste {
    font-family: Open Sans!important
}

.poste {
    font-size: 1.3em;
    text-align: center
}

.sapUxAPObjectPageSection {
    padding-top: 20px
}

.sapUxAPObjectPageSectionHeader {
    text-align: center!important;
    border-bottom: none
}

.sapUxAPObjectPageSectionTitle {
    border-bottom: none;
    font-size: 2rem
}

.me_image {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border: 3px solid #f9f9f9
}

.section_experience,
.section_presentation,
.section_realisation,
.section_temoignage {
    background-color: #fff
}

.section_competence,
.section_formation {
    background-color: #f9f9f9
}

.competence_titre {
    font-size: 20px!important;
    padding-right: 47px
}

.sapSuiteUiCommonsTimelineItemUserPicture {
    width: 7rem!important;
    height: 7rem!important
}

.sapSuiteUiCommonsTimelineItemShellHdr {
    font-weight: 700!important;
    font-size: 1, 2rem
}

.sapSuiteUiCommonsTimelineItemShellDateTime {
    font-size: 0, 9rem
}

.image_competence {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.image_competence:hover {
    opacity: .5
}

.tileLayout {
    width: 18.5rem!important
}

.sapMTextMaxLine {
    color: #fff
}

.titre_humaine_competence {
    font-family: Calibri!important;
    font-style: Italic;
    color: #6495ED
}

.button_techno>* {
    background-color: #3f5161!important;
    color: #fff
}